<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 

<body>
	<%- include("partials/header.ejs") %> 
	<div class="products flex-cntr">
		<% products.forEach( product => { %>
			<div class="product-cntr">
				<div class="img-cntr">
					<a href="/products/<%= product._id %>"><img src="<%= product.img %>" alt="Image of <%= product.name %>"></a>
				</div>
				<div class="text-cntr flex-cntr col">
					<div class="name-cntr">Name: <%= product.name %> </div>
					<div class="price-cntr">Price: <%= product.price %> </div>
					<div class="qty-cntr">Quantity: <%= product.qty %> </div>
				</div>
			</div>
		<% }) %>
	</div>
	<button>Post a new Product</button>
</body>
</html>